.title {
  text-align : center;
}


.form {
  width : 50%;
  margin : 0 auto;
}


.code {
  max-width : 200px;
  color : black;
}


.loading {
  text-align : center;
}

body {
  background-color: lightcoral;
}


.tweets{
  width: 80%;
  margin: 0 auto;
  color : black;  
}


.tweets {
  background: hsla(0, 0%, 95%, 0.479);
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 8px;
}


.tweets > div > h3 {
  word-wrap: break-word;
}

.tweets > div > p {
  word-wrap: break-word;
  font-size : 35px;

}

