.title {
  text-align : center;
}


.form {
  width : 50%;
  margin : 0 auto;
}


.code {
  max-width : 200px;
  color : black;
}


.loading {
  text-align : center;
}

body {
  background-color: lightcoral;
}